bin/Debug/net5.0/Battleship.deps.json
bin/Debug/net5.0/Battleship.dll
bin/Debug/net5.0/Battleship.exe
bin/Debug/net5.0/Battleship.pdb
bin/Debug/net5.0/Battleship.runtimeconfig.dev.json
bin/Debug/net5.0/Battleship.runtimeconfig.json
bin/Debug/net5.0/ref/Battleship.dll
bin/Debug/netcoreapp3.1/Battleship.dll
bin/Debug/netcoreapp3.1/Battleship.pdb
obj/Battleship.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5/Battleship.AssemblyInfo.cs
obj/Debug/net5/Battleship.AssemblyInfoInputs.cache
obj/Debug/net5/Battleship.csproj.AssemblyReference.cache
obj/Debug/net5/Battleship.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Battleship.AssemblyInfo.cs
obj/Debug/net5.0/Battleship.AssemblyInfoInputs.cache
obj/Debug/net5.0/Battleship.assets.cache
obj/Debug/net5.0/Battleship.csproj.AssemblyReference.cache
obj/Debug/net5.0/Battleship.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Battleship.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Battleship.dll
obj/Debug/net5.0/Battleship.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Battleship.genruntimeconfig.cache
obj/Debug/net5.0/Battleship.pdb
obj/Debug/net5.0/ref/Battleship.dll
obj/Debug/netcoreapp3.1/Battleship.dll
obj/Debug/netcoreapp3.1/Battleship.pdb
